
<div class="banner">
  <div class="top-panel">
  </div>
  <div class="bottom-panel">
    <div class="image-container">
      <img src="../assets/icon_chucknorris_200.webp" class="chuck-io-image">
    </div>
  </div>
</div>
<div class="main">
<div class="tab-container">
<mat-tab-group class="question-type-selector mat-elevation-z4"
                color="#00fff329">
  <mat-tab label="First" color="#00fff329">
    <app-random></app-random>
  </mat-tab>
  <mat-tab label="Second" color="#00fff329"> Content 2
  </mat-tab>
</mat-tab-group>
</div>
</div>
